[2019-10-03 15:31] andreaimpact opened #1 "Feature request: add Power On/Off and Install Position command"
It would be useful to have the following commands.
- Power ON
- Power  OFF
- Switch to Desktop  Install Position
- Switch to Hanging  Install Position

[2019-11-24 13:07] JeffreyDavidsz commented on #1
Power on/off is in the latest build now, could you test it?

[2019-11-25 09:08] andreaimpact commented on #1
Hi Jeffrey,

I downloaded the latest win64 version companion-2.0.0-b6fc4d5-1883-win64 but I don’t see any ON/OFF action? Am I missing something?

Thank you

Andrea

Da: Jeffrey Davidsz <notifications@github.com>
Inviato: domenica 24 novembre 2019 14:08
A: bitfocus/companion-module-panasonic-ptz <companion-module-panasonic-ptz@noreply.github.com>
Cc: Andrea Tacchetti <andrea@impact.it>; Author <aut

[2019-11-27 11:34] JeffreyDavidsz commented on #1
It seems the build server is full, so no updates from 18-11 are stored there. When cleaned download the latest, then it's there

[2019-11-27 11:52] andreaimpact commented on #1
Yes, after writing you I noticed that the latest buld on repository is dated 18.11 and therefore that the module was not updated yet.

Thank you anyway

Andrea

Da: Jeffrey Davidsz <notifications@github.com>
Inviato: mercoledì 27 novembre 2019 12:34
A: bitfocus/companion-module-panasonic-ptz <companion-module-panasonic-ptz@noreply.github.com>
Cc: Andrea Tacchetti <andrea@impact.it>; Author <author

[2019-12-12 10:21] andreaimpact commented on #1
I confirm that Power On/Off is working.
Still missing
Switch to Desktop Install Position
Switch to Hanging Install Position

Thank you!

[2020-01-14 05:53] videochris opened #4 "AW-HE40 Record"
Is it possible to start and stop the record function on SD card for the HE40?

[2020-03-28 02:02] Stu232 opened #5 "Panasonic PTZ set Zoom and Focus Speed"
Currently the Panasonic PTZ module only allows you to set the speed for pan and tilt but for zoom and focus only allows for it to be turned up or down. Adding this would help so you could quickly and easily jump between zoom speeds.

[2020-03-31 17:01] Stu232 opened #6 "Up and Right Controls Don't Work After Setting P/T Speed"
This is definitely a problem within companion because the up and right controls will work if the speed is not set in the module, however once it is set for the companion module then they will no longer work within companion. The down and left controls continue to work. If I create a new module then they work again. I would just do this but then they are set to the wrong speed and wouldn't work for

[2020-05-27 05:09] dvdenz opened #7 "[Module Request] Panasonic PTZ - One Touch Auto Focus"
Hello,
Would it be possible to enable the One Touch Auto Focus function of the Panasonic PTZ Cameras? I am specificially using the AW-HE40 camera.
The workaround I am using right now is to send HTTP GET commands - one to turn auto focus on ( http://10.0.0.55/cgi-bin/aw_ptz?cmd=%23D11&res=1 ) and one to turn it off again ( cmd=%23D10&res=1 ) once it's had time to auto focus approx 850ms later.

I h

[2020-06-15 22:11] duckjerkdan opened #8 "Not working"
I am trying to use the module with bitfocus 2.0 and it is not working. When I add the IP of my camera nothing happens and the instance status says NULL. I am using an AW-HE40.

Do I have to do anything on the camera side? I can access the web interface of the camera using the IP address so I know the IP is correct. Any thoughts?

[2020-10-07 04:07] themediaguy1297 opened #9 "Support for AW-UE150?"
My church just bought 3 of these PTZ cameras was wondering if there is support for them on these modules?

P.S. Don't know if this was the right place to submit a question but this was the only place I could find.

--
Thanks,
Kody

[2020-10-07 04:07] themediaguy1297 opened #10 "Support for AW-UE150"
My church just bought 3 of these PTZ cameras was wondering if there is support for them on these modules?

P.S. Don't know if this was the right place to submit a question but this was the only place I could find.

--
Thanks,
Kody

[2020-10-07 04:08] themediaguy1297 commented on #10
Disregard.........

[2020-10-07 04:08] #10 closed

[2020-11-10 03:52] philipdroberts commented on #6
Any status update on this? I can confirm the bug is still present with the following software versions:

I've also noted that the up and right controls will start working again after making + or - to PT speed.

HE130
Firmware version
    CPU Software
        Interface V02.20
        Camera Main V02.20
        Servo V01.01
        Network V02.38
    EEPROM
        Interface V01.00
    FPGA

[2020-11-11 19:01] TreborKutscher opened #11 "Panasonic PTZ add Preset recall Mode"
Please add a Dropdown for the Recallmode to a specific PTZ Preset on panasonic cameras.
Or make it an individual command to set the recall mode.

There are Mode A / B / C wich allow to not recall everything stored in the preset. Presets include gain  white ballance and collor information wich are allo stored in a preset memory.
In some cases you want only recall position zoom and focus of the came

[2020-11-11 21:18] josephdadams commented on #11
I have transferred this to the Panasonic PTZ repository where someone can follow up with you.

[2020-11-29 13:53] McHauge commented on #9
seems to works if you use the one for AW-UE70, at least I have used it like that all weekend :)

[2020-11-29 21:43] McHauge commented on #9
After testing with the AW-UE150, I added it as supported, therefore I'm closing this for now.

[2020-11-29 21:43] #9 closed

[2020-11-29 21:45] McHauge commented on #7
Added support for one-time autofocus, but still, need's to be tested, and, I'm near to our PTZ until next week, but if it works out, all get it included into the core.

[2020-11-29 21:46] McHauge commented on #6
I think this should be solved in the next version of this module, but I need to do some final testing.

[2020-11-29 21:47] McHauge commented on #5
This is now included in the next version of the module, and therefore I'm closing this, feel free to open it if needs be

[2020-11-29 21:47] #5 closed

[2020-11-29 21:49] McHauge commented on #1
Next module update will include the option to change the mode from desktop to hanging position, still need to test it though, hope to do so in the next weekend.

[2020-12-21 10:30] McHauge commented on #7
This is now a part of the Beta builds, will close this for now

[2020-12-21 10:30] #7 closed

[2020-12-21 10:32] McHauge commented on #8
I got a fix for this, will get included in v1.0.8 of the module.
A fix so far is to disable and re-enable the module after setting the IP. Then it should work as expected

[2020-12-21 10:34] McHauge commented on #1
This is now a part of the Beta builds, will close this for now, feel free to open it again if need's be

[2020-12-21 10:34] #1 closed

[2020-12-21 10:37] McHauge commented on #6
Seems to be semi-fixed, the first time it needs to presses (when changing speed) currently but the ptz will move no matter what will do some more testing to see it I can get the last part to work correctly, but it's better that before

[2020-12-21 10:40] airbenich commented on #1
Great! Thank you @McHauge Andreas!

[2021-01-26 02:33] bpatel928 opened #13 "Support for Panasonic AW-HE38"
Hey there,

Currently there does not seem to be any support for the Panasonic HE38 PTZ. I do not think that there is much of a difference between it and the HE40, but can a instance be made for that camera?

[2021-01-26 05:28] McHauge commented on #13
There is a major update in the works, there is even an open alfa for testing support on all panasonic PTC's
This can be found on both facebook and slack. You can see the changes if you check the "development" branch of the module

[2021-01-26 05:33] McHauge commented on #13
https://m.facebook.com/groups/companion/permalink/2786070918277907/?sfnsn=mo

[2021-01-27 22:27] philipdroberts commented on #6
I tested build ending in #2713 or #2714 yesterday and it seems to work as expected for the features I tested.

After a "set PT speed" action I can use all 4 directional controls and they work as expected.

[2021-01-27 22:29] McHauge commented on #6
The changes I'm working on is not included in the betas, only in my builds, so not to sure what you testet 😅

[2021-01-27 22:30] McHauge commented on #6
Ups sorry thought is was another comments, but anyway I'm working on a big update with feedbacks and variables for this, you can see the changes in the development branch on the module

[2021-01-27 22:31] McHauge commented on #6
And if you want to test them, please take a look at this facebook post https://m.facebook.com/groups/companion/permalink/2786070918277907/?sfnsn=mo

[2021-01-27 22:40] philipdroberts commented on #6
No worries, about getting threads mixed up.

Having feedback based on the "Preset number query command" in companion would be great to know which preset was recalled last.

As evidenced by how long it took me to try your change from back in December I don't know that I have time to do much testing your builds. Sorry.

[2021-01-27 22:41] McHauge commented on #6
No worry's, but feel free if you find the time for it

[2021-02-08 23:26] studiovideo54 opened #14 "WHITE BALANCE"
Hello, why preset white balance is not present?
Many thanks

Dory

[2021-02-09 06:40] McHauge commented on #14
@studiovideo54 Cause they haven't been added yet... it's possible to add them in the new development branch, but in the current main branch would be hard, as there are 3-5 types of ways Panasonic does white balance on its PTZ's.

[2021-02-10 16:37] PhotoJoseph opened #15 "LUMIX BGH1 Support request"
I have no idea how open or available the resources needed would be, but the new [BGH1](https://pro-av.panasonic.net/en/cinema_camera_varicam_eva/products/bgh1/index.html) (box camera) can be controlled completely over ethernet using the LUMIX Tether app… so theoretically, it could be controlled in Companion!

[2021-02-17 08:37] McHauge commented on #4
@videochris Sorry, but I can't find the command for it if you find let me know and I'll add it to the list of actions.

[2021-02-17 08:44] McHauge commented on #15
@PhotoJoseph If you can find documentation of the protocol then we can look at If it's possible. But with the need for an app, I don't think it would be an easy implementation.

[2021-02-17 10:54] daniep01 commented on #4
Here are the commands. If you have access to the camera then you can find them using the network tool in chrome/safari web inspector.

/cgi-bin/sdctrl?save=start
/cgi-bin/sdctrl?save=end

[2021-02-17 10:56] McHauge commented on #4
Well I don't have access to it, i only have the aw-ue150. But I'll try to add it

[2021-02-17 11:07] McHauge commented on #4
also, did you find it mentioned in any documentation?

[2021-02-17 11:19] McHauge commented on #4
I think I found it: https://eww.pass.panasonic.co.jp/pro-av/support/content/guide/DEF/HE40_UE70_CGI/Supplement_for_Web_Control-UE70E.pdf

[2021-02-17 12:27] McHauge commented on #4
@daniep01 I have now added an "SD Card Recording" action, but no feedback, as I don't see a great way to do it without adding a third way for the module to get updates. This would (from what I can see) require polling the camera every 1 sec or so. But if we are lucky it will report in the already established subscription-based system that is in place, though this is not documented in it, so...

I'

[2021-02-18 13:03] McHauge commented on #4
@daniep01 The core just got updated, so you should now be able to get this in the newest beta. But please keep my comment above in mind and let me know how it goes.

[2021-02-18 13:05] McHauge commented on #13
@bpatel928 and @kraves-oz the core just got updated with the latest version of the module, with a major overhaul. the AW-HE38 should now b supported in the beta builds from now on. therefore I'll close this for now.

[2021-02-18 13:05] #13 closed

[2021-02-18 13:05] daniep01 commented on #4
Thanks, I can test at the weekend but I think it was @videochris who was originally asking for this feature, I just let you know the url because I had discovered it already.

[2021-02-18 13:07] McHauge commented on #8
@duckjerkdan Hi, the core just got updated with the latest version of the module, with a major overhaul. the AW-HE40 should now have better support, just follow the instance config page while setting up the camera. The beta builds from now on includes this update. Therefore I'll close this for now.

[2021-02-18 13:07] #8 closed

[2021-02-18 13:10] McHauge commented on #6
@philipdroberts Just wanted to say, that the core has been updated with the newest changes and this should now be fixed in the latest beta builds. but the feedback you are talking about has not been added, but it's a lot simpler to do now, with all the back end part for feedbacks and variables built-in.

[2021-02-20 21:37] daniep01 commented on #4
Hi @McHauge,

I have just tested and I see the following error in the log

[code]

[2021-02-20 21:39] daniep01 opened #17 "TCP Control Port"
With multiple cameras the companion module requires different TCP port numbers for each camera. On my HE40 cameras I can only change the HTTP port, there doesn't appear to be a setting in the Panasonic GUI to change the TCP port. Does anyone know if/how this can be done?

[2021-02-21 00:39] McHauge commented on #17
@daniep01 the TCP port is one you choose, it's one companion will ask the camera to use. So you will not find any settings for it on the camera itself

[2021-02-21 00:40] McHauge commented on #4
I'll give it a look

[2021-02-21 01:51] McHauge commented on #4
@daniep01 Found the error, I forgot to push the change from index.js where I declare the function :) but it should be fixed now, and be in the beta after the next poll

[2021-02-21 11:36] daniep01 commented on #17
Thanks for the explanation.

[2021-02-21 11:36] daniep01 commented on #4
I'll look out for the next build

[2021-02-21 11:36] #17 closed

[2021-02-21 22:26] daniep01 commented on #4
@McHauge
Recording Start/Stop looks good to me on HE40. I tried enabling the debug log but didn't see anything interesting, not sure if this is expected.

[2021-02-21 22:28] McHauge commented on #4
@daniep01 great to hear, no I did not expect any, but if there were that would have been awesome, because then feedback would have been an easy addition,

[2021-02-24 15:23] BrianMSimons opened #18 "(Bug) Tally on Panasonic AE-150 Not Responding to VMix Program Variable"
I grabbed the latest experimental build to play around with since the current stable one doesn't have my PTZ cameras or RP150 controller.  I wanted to use the variable "vmix:mix1_program" for each camera to trigger it's Tally Light and it doesn't work.  I was able to trigger the Tally lights from the RP-150 controller.

At one point I had Camera 1 Tally on from the RP-150 variable. I then changed

[2021-02-25 22:03] BrianMSimons opened #19 "(Bug) Panasonic AW-UE150s Won't Go to Preset 1"
I setup a really long automated series of camera movements using the Preset Recall action and having vMix mix the shots together.  Everything works perfectly until at the very end of the list I Recalled each camera to go to Preset 1, that way I can just start the sequence again seamlessly like a loop.  All of the other Preset numbers work, but the log for when you try to preset #1 gives this:

25.

[2021-02-25 22:05] McHauge commented on #19
Did you use a preset or add the action your self, also did you try and select another preset number and then go back to the nr 1 preset in drop-down on the same action

[2021-02-25 22:14] BrianMSimons commented on #19
All of the presets I created using the RP150 controller.  Then in the photos attached, you'll see just the very top of my long sequence in the image named Companion Sequence Example.  I have redundant Drive Time actions before every movement, so that I can easily change the speed of this sequence later.  It runs through Three cameras with 22 Preset positions each.  And again, works perfectly excep

[2021-02-25 22:16] McHauge commented on #19
Yes but if you take one of those actions, and with out adding a new one or removing any, thy and thanked the drop-down menu to preset 1 i feel like it will work then, it's just the "default" value is not working, and I'll give that a look

[2021-02-25 22:20] BrianMSimons commented on #19
Hmm....I see what you're saying now.  I may have just left it as is since it showed Preset 1.  I'm going to check now....  and you are correct.  If I actually grab another preset from the drop down, then select Preset 1 - it works.  Good call.

[2021-02-25 22:22] McHauge commented on #19
Thx for trying it, it does not solve the problem altogether, but it makes its usable, I'll try and see if I can get it patched in a day or two, should be a simple fix. Just missed a few things under testing after the many changes 😊

[2021-02-25 22:23] McHauge commented on #18
I'll close this, as this is now fixed in the core, and should work as expected in all new beta releases

[2021-02-25 22:23] #18 closed

[2021-02-25 22:25] McHauge commented on #4
I'll close this, as this is now fixed in the core, and should work as expected in all new beta releases

Feel free to open it up again if something comes up

[2021-02-25 22:25] #4 closed

[2021-02-25 22:25] BrianMSimons commented on #19
I love how quickly you are on top of these things.  I am not tech savvy
enough to know what's going on under the hood, but give me a few weeks
farting around and I'll try to automate nearly everything and if I find any
quirks I'll keep on posting.  Cheers

On Thu, Feb 25, 2021, 5:22 PM Andreas Thomsen <notifications@github.com>
wrote:

[2021-02-25 22:26] McHauge commented on #6
I'll close this, as this should now be fixed in the core, and should work as expected in all new beta releases

Feel free to open it up again if something comes up

[2021-02-25 22:26] #6 closed

[2021-02-25 22:57] McHauge commented on #19
Thanks, I just pushed a fix, also found 6 other actions that also had missing defaults, so those should also be fixed in the next pull into the core.

[2021-02-27 16:54] DonSlotta opened #20 "Autofocus off issue on Panasonic PTZ"
Hi there ,
I´m controlling Panasonic AW-UE70 and AW-HE130 PTZ cameras via Companion.
I´m able to turn the Autofocus on via the _**Focus Mode: Auto Focus**_.  But the command _**Focus Mode: Manual Focus**_ doesn´t turn it off. This happens on both camera types. Is this a bug?

[2021-02-27 16:58] McHauge commented on #20
@DonSlotta first of all, what version of companion?
if you are on the beta, please try and enable debug to log and restart companion
then press the action and see what it reports in the log

[2021-02-27 17:01] DonSlotta commented on #20
I´m using version v2.2.2(2.1.2-f4bcaf3-2679)

[2021-02-27 17:04] McHauge commented on #20
please ty the Beta, the module has been rewritten with feedbacks and all

to download it click the "builds" button under the main download button: [link](https://bitfocus.io/companion/download/builds/)

[2021-02-27 17:08] DonSlotta commented on #20
Thanks for for the link. I will try it. Do I need a specific build or just the latest?
Sorry for these newbie questions.

[2021-02-27 17:12] McHauge commented on #20
just the latest

another thing if you are on windows go to this folder %AppData%\Roaming\companion
and make a backup off all it's content. this is all your settings and buttons in companion, if something breaks, you can just download the release version again, and copy your backup back into this folder and you will be back to what you have now

[2021-02-27 18:28] DonSlotta commented on #20
I tried version v2.2.0 (2.2.0-7cb0beb-2932).
Now both commands **Lens - Focus Mode: Auto Focus** and **Lens - Focus Mode: Manual Focus** turn the Autofocus mode on. None of them turn it off.

[2021-02-27 18:30] McHauge commented on #20
would you mind enabling "debug to log" and restart companion
then press the action and see what it reports in the log
then post a screenshot of it

[2021-02-28 00:48] DonSlotta commented on #20
I sent both commands for Auto Focus and Manual Focus. Both semm to send the same value.

![IMG_20210227_200204.jpg](https://user-images.githubusercontent.com/79760202/109404483-d5787b00-7966-11eb-8cf3-9b719eaebe14.jpg)

[2021-02-28 00:51] McHauge commented on #20
Thx I'll give it a look

[2021-02-28 01:01] McHauge commented on #19
@BrianMSimons  just tested it, and it works fine here, please check your actions and verify that they are set correctly they should look like this (also added a picture of my log when testing):

![image](https://user-images.githubusercontent.com/31018035/109404702-dad6c500-7968-11eb-8624-f602185e29d2.png)
![image](https://user-images.githubusercontent.com/31018035/109404688-b67ae880-7968-11eb-901d

[2021-02-28 01:01] McHauge commented on #19
lol wrong thread sorry

[2021-02-28 01:02] McHauge commented on #20
@BrianMSimons  just tested it, and it works fine here, please check your actions and verify that they are set correctly they should look like this (also added a picture of my log when testing):

![image](https://user-images.githubusercontent.com/31018035/109404702-dad6c500-7968-11eb-8624-f602185e29d2.png)
![image](https://user-images.githubusercontent.com/31018035/109404688-b67ae880-7968-11eb-901d

[2021-02-28 01:02] McHauge commented on #20
@DonSlotta   just tested it, and it works fine here, please check your actions and verify that they are set correctly they should look like this (also added a picture of my log when testing):

![image](https://user-images.githubusercontent.com/31018035/109404702-dad6c500-7968-11eb-8624-f602185e29d2.png)
![image](https://user-images.githubusercontent.com/31018035/109404688-b67ae880-7968-11eb-901d-8

[2021-02-28 01:05] BrianMSimons commented on #19
No prob.  Have a goodnight.

On Sat, Feb 27, 2021, 8:02 PM Andreas Thomsen <notifications@github.com>
wrote:

[2021-02-28 07:59] daniep01 opened #21 "Using Companion and AW-RP50 together"
Hi,

Maybe this isn't a real issue because it is all working as designed but I note that when Companion and the RP50 are both used in the same setup the camera indicator lights on the RP50 flash continuously. The manual says this means that the camera is also connected to another controller as well as the RP50 which is true but the continuous flashing is annoying to me. I'm just wondering if the m

[2021-02-28 09:24] JeffreyDavidsz commented on #21
It's as panasonic has designed it. That way you can see something else is also controlling your controller. If you only use it for tally, set that in the ptz module and leave the RP50 alone.
I'll close this issue as this is a panasonic design

[2021-02-28 09:24] #21 closed

[2021-02-28 12:22] daniep01 commented on #21
Maybe it is as Panasonic intended but if I use the companion http module to talk to the cameras it doesn't happen, so I will need to revert to that method.

[2021-02-28 15:21] DonSlotta commented on #20
I´ve double checked the action on my Auto Focus Off Button. It is the same action as in your test setup. See attached screenshot
Your action triggers the Send CMD: D10 command. Mine still the D11 like the Auto Focus On command. That´s weird.
![1614525592053](https://user-images.githubusercontent.com/79760202/109423762-0b5a4580-79e1-11eb-9e30-b22b8e02f945.jpg)

[2021-02-28 16:16] McHauge commented on #20
Well, my bet then would be to make a backup of the setup, then try removing the instance an create new buttons, else try a completly clean setup and se if that helps

[2021-02-28 16:58] DonSlotta commented on #20
I deleted the instances, created them new and made new buttons. Now it works. Except that the manual focus command triggers the Auto Focus on and the auto focus command turns it off. That's still weird but I totally can live with that. Thanks a lot for your support. It helped me a lot. Cheers.

[2021-03-19 22:10] jwarnier-ibg opened #23 "i cant connect to aw-ue70 ptz cams,"
i have a lot of stuff in the network witch i can manage with companion, for the 6 ptz's i have enter the ip adresses, but the status dont go to green

do i have to use somewhere a login and / or password?

thx in advance

greetings Jan

[2021-03-19 22:18] McHauge commented on #23
What version of Companion, this module had a complete re-write in the v2.2.0 betas

[2021-03-19 22:18] McHauge commented on #23
That might solve your problem

[2021-03-26 21:07] dieterjanssens opened #24 "Please add support for Panasonic CX350/CX4000"
If possible to integrate:

https://eww.pass.panasonic.co.jp/pro-av/support/content/guide/DEF/CX350_Command_for_PTZ_Control_Protocol.pdf

[2021-03-26 21:28] McHauge commented on #19
@BrianMSimons did you test the fix pushed 29 days ago?

[2021-03-26 21:31] McHauge commented on #24
@dieterjanssens Quick question does it do anything if you select the type other or auto?

(you will need companion 2.2.0 beta for that)

also could you please go to the pages below and save the content of that page in a text file and send it to me for reference.
http://YourCamerasIP/live/camdata.html
http://YourCamerasIP/cgi-bin/get_basic
http://YourCamerasIP/cgi-bin/getinfo?FILE=1

this would hel

[2021-03-27 17:05] dieterjanssens commented on #24
Thanks to Todd Kaczorowski for the txt file
[cx350 info.txt](https://github.com/bitfocus/companion-module-panasonic-ptz/files/6216046/cx350.info.txt)

My cx350 is in back-order so for the moment without cx350 tot test

[2021-04-07 16:42] McHauge commented on #24
@dieterjanssens Did it give any response on http://YourCamerasIP/live/camdata.html
Or is that just a dead link on the device? as that is the link used for feedbacks currently.

also for this to work you will need to have NDI|HX enabled, as per the documentation.

[2021-04-07 18:58] #20 closed

[2021-04-23 07:01] vetle-munin opened #25 "Request: instance feedback for AW-HE42"
Is it possible to get instance feedback to see what preset is active and to read out the values for gain, iris, pedestal, etc.?

[2021-04-23 07:08] McHauge commented on #25
@vetle-munin Sure, but I'll have to test it out on one of our cameras, and haven't had one close for some time now. I'm not sure if the last preset thing is possible, based on if a preset is loaded from another controller, but if that gets passed through then surely that can be added.

before adding values that are different for all cameras, I would want some basic white balance control implemente

[2021-04-23 07:09] McHauge commented on #23
I'll close this as there has been no response from the issuer, @jwarnier-ibg feel free to open it up again if needs be.

[2021-04-23 07:09] #23 closed

[2021-04-23 07:16] McHauge commented on #19
@BrianMSimons did you get to test the build yet? I'll close this issue, and if you feel like it, feel free to open it up again iff need be.

[2021-04-23 07:16] #19 closed

[2021-04-23 07:26] vetle-munin commented on #25
@McHauge that is super, thanks alot for looking into it! :)

[2021-04-23 07:31] McHauge opened #26 "Add corect values/variables for gain, iris, pedestal, etc."
Implement camera-specific values/variables for gain, iris, pedestal, etc.
This will allow you to see what the current setting is on your camera.

Pitfalls, a lot of settings are "blocked" when certain modes are selected, like shutter mode and white balance mode.

[2021-04-23 11:39] BrianMSimons commented on #19
Hi Andreas, everything appears to be working perfectly with the PTZ
presets.  I've been continually grabbing newer beta releases and using
them, and I haven't had any issues with critical functions. One of the more
recent builds had countdown variables for Black Magic Hyperdecks, those do
not work for me with my Hyperdeck Minis.  If I put them in the name of a
button it just shows -:--:--, even wh

[2021-05-21 13:09] jbilyj commented on #14
It would be great to see at least variable colour temperature control added. I know this would extremely useful for the AW-HE130's that we run.

[2021-05-21 13:11] McHauge commented on #14
Yep, it's definitely on the list, just haven't had any camera i could take home to test on for a while

[2021-06-11 10:09] chberge commented on #15
There is some kind of SDK/API for the BGH1 available here: https://av.jpn.support.panasonic.com/support/global/cs/soft/tool/sdk.html

[2021-06-11 10:16] McHauge commented on #15
@chberge Just looked at it, it seems it's a .dll and that would basically block it from being used in companion as it's only for windows on the site, and Companion is windows/mac/Linux. Even if possible, it would share nothing from this module so should be made into its own module.

[2021-06-11 16:00] PhotoJoseph commented on #15
oh shoot sorry @McHauge I totally missed your original reply. Interesting that there's documentation but on windows only. Let me see what I can find out now that we know there's at least a windows implementation.

[2021-06-12 21:33] dieterjanssens commented on #24
Finnally I have a cx350 on hand with NDI|HX enabled. Unfortunatly http://YourCamerasIP/live/camdata.html gives a 404 error, so dead link.

[2021-06-23 23:30] McHauge commented on #11
@TreborKutscher Sorry about the wait and no response, This is now added to the module and will be available in the next release, as well as new v2.2.0 betas in a week or so.

although this is not added as a dropdown on the recall preset action itself, its added as a separate action and feedback, if you want to you can always stack them on the same button :) there are also premade presets available

[2021-06-23 23:30] #11 closed

[2021-06-24 00:03] McHauge commented on #24
@dieterjanssens From what I can see, this should be possible but the initial loading of variables from the camera might be a bit of a pain, as the command above gave you a 404 error. and that is how I currently fetch the current state when a connection is made.

[2021-06-28 16:18] Julusian opened #27 "Dont register uncaughtException handler"
https://github.com/bitfocus/companion-module-panasonic-ptz/blob/80fbe3e7c64f2dad045e634fd38e1292939b4e08/src/index.js#L295

I don't think this module should be doing this. This is a global event handler, meaning if any module in companion doesnt handle an exception this module will be asked to handle it.
This will change the default error behaviour of companion where it shows the dialog then conti

[2021-06-28 16:21] McHauge commented on #27
Already have it removed in a local comit from today, I'll push it in a moment

[2021-06-28 16:22] McHauge commented on #27
Do to the problem mentioned on slack, I have completely redone the init_tcp() but the problem still persist

[2021-06-28 16:30] Julusian commented on #27
Also instead of the port offset stuff you are doing, have you considered letting node choose a port for you? If you supply 0 as the port number, it will choose a free one.
You can then get the port number it chose with `socket.address().port`

[2021-06-28 16:32] McHauge commented on #27
that's interesting, and definitely, what i wanted in the first place, I did this as I didn't know how to get a "random" port and receive it again. I'll look into changing it over to that instead :)

[2021-06-28 16:38] Julusian commented on #27
you're not alone there, Ive seen a similar pattern in a bunch of modules. This is probably something that should be documented better on the wiki, although it is already there in the nodejs documentation

[2021-06-28 17:21] McHauge commented on #27
done, just pushed a change over to random port from Node, instead of an offset

[2021-06-28 17:22] McHauge commented on #27
also has better handling of subscriptions, so less chance of leaving a subscription open on a camera

[2021-07-02 22:41] McHauge commented on #27
I'll close this, as it now fixed and included in the core

[2021-07-02 22:41] #27 closed

[2021-08-19 09:11] DanielBeeee opened #28 "Setup Switch"
Is it possible to switch the tally function disabled / enabled for the AW-UE100?
Sometimes I use the camera for surveillance and sometimes as an studio camera.

[2021-08-19 09:18] McHauge commented on #28
Don't think I have that added no, only on/off, not a enable disable, so other things would still be able to turn the tally on or off. but if you just want to manually blink the lamb that can be done with the current module.

[2021-09-15 19:15] austgresh opened #29 "Day/Night mode switch"
IKs it possible to toggle between Day and Night mode?
I am using a Panasonic AW-HE40 over IP and controlling with a Stream Deck powerd by a Rasp. Pi 4 with CompanionPi running on it.

[2021-12-06 13:38] fredtr3 opened #30 "Panasonic PTZ color control"
hi
i'm looking for controling R gain, B gain, R pedestal , B pedestal on a stream deck .
regards
Fred

[2021-12-16 22:33] dieterjanssens commented on #24
Update, i just found this document.
I hope this can help us to integrate the cx350 in Companion.
https://eww.pass.panasonic.co.jp/pro-av/support/content/guide/DEF/CX350_CX4000_Command_for_PTZ_Control_Protocol.pdf

[2022-01-18 22:52] philipdroberts opened #31 "Support deleting of presents"
https://eww.pass.panasonic.co.jp/pro-av/support/content/guide/DEF/HE50_120_IP/HDIntegratedCamera_InterfaceSpecifications-E.pdf

Page 21, Table 3.1.7
send string #C{present # -1}

Would be nice if the user could specify a range of presets to delete but that would be more work vs just having to program many actions on 1 button.

[2022-01-29 21:36] belac9615 opened #32 "Correct recall speed for HD PTZ cameras"
On most of the Panasonic HD PTZ cameras the recall speed is supposed to be sent using the `UPVS[Data]` command, with data values ranging from `255-999`.

It looks like this module actually sends discrete values from `0-30` without mapping to the `255-999` range. Is it an easy fix to adjust to match the spec?

More details can be found on page 21 in the [Panasonic Interface Specification Guide](htt

[2022-01-30 03:10] belac9615 commented on #32
Now that I've looked through the code I'm really not sure what's wrong with my config. According to `CHOICES_PSSPEED` in ./choices.js it should be returning the id which someone wisely mapped to the `255-999` range.

However, when I have debug logging turned on it says: `29. 22:02:53 instance(Panasonic-PTZ): Send CMD: UPVS25`

[2022-01-30 03:23] belac9615 commented on #32
Never mind, this is a non-issue. The newest release, v1.0.19 has the correct code, but it hasn't been merged into Companion yet in v2.1.4 which I'm running.

[2022-01-30 03:23] #32 closed

[2022-02-23 14:53] krocheck opened #33 "TypeError: Cannot read property 'trim' of undefined"
See link.  Seems like an array length test of `str_raw` or a test if `str_raw[1]` exists is needed here.

https://sentry.bitfocus.io/share/issue/e5033d1b76914bc5bd2cd6b16d5a4707/

[2022-03-03 15:54] 07pepa opened #34 "[feature request] Buton combination support for moving in diagonal directions"
We are using streamdeck to control panasonic PTZ camera.
On one of screens we implemented inverse T arrows (like on keyboard) to move it manualy and it works.

However there is no way to program it in way to use two buton combination to go in any of diagonal direction

i think folowing "buton" combination should be allowed and interpeted as such no matter of order how they are pressed
- ⬆+➡ = ↗
-

[2022-03-03 17:57] josephdadams commented on #34
Can't you use the Preset button definitions for this module to move diagonally? We have two Panasonic PTZs and this is what we do... works great. Unless I'm misunderstanding

[2022-03-03 19:39] 07pepa commented on #34
If you mean predefined diagonals butons technicaly I can use it.
However they will not fit in our 5 x 3 stream deck since we have preset recals speed selects and zoom control and it leaves two button free and that is not enought for all 4 diagonal combination.

If Preset buttons are meant to work in combination being pressed they don't (and  form quick code glance hereit does not look like it).

I

[2022-03-08 08:27] Renasb23 opened #35 "Question: Is this module Compatible with the AW-UE40?"
Hello,

we are currently setting up a Streaming Setup and are looking for which Camera to buy.
With today's supply shortages, the one we have available which is alos affordable is the Panasonic AW-UE40.
I would like to know if you can tell me that this Camera is going to work with this Module, since that is a criteria for choosing which one we will end up buying.

Thank you very much.

[2022-03-10 22:09] 07pepa commented on #34
This one of way to implement it (i did not test it because as i said i did not research much your setup and to to build it for myleft and test in in companion)

but i think you can get idea from code how to do it  and i only included changed files you can diff them easyly
but it is not properly formated

for above mentioned reason i am not raising PR since code is poor quality but

https://drive.g

[2022-03-15 17:50] cpuguru07 opened #36 "Request: Feedback for Active/Last Recalled Preset"
Would it be possible to add feedback for the current active (or last recalled) preset?

[2022-03-31 09:18] hamuchen commented on #15
As @McHauge stated, this feature will probably need its own module and I made a request nearly at the same time as @PhotoJoseph here:
https://github.com/bitfocus/companion-module-requests/issues/402

I think we could work it our over there, if you want to help, it will be greatly appreciated. I think out setups (from what I can tell from your videos) are very similar.

Cheers,
hamu

[2022-05-19 10:37] BLUNTKI opened #37 "Need new fonction for Panasonic AW-UE150"
Hello,

Congratulations for your work and deeply thank you!
Would it be possible to add control of the "Day/night" function of Panasonic AW-UE150 to your wonderful companion application? The parameter is in the OSD menu, brightness 2/2.
I have to do it manually on 57 ptz hence my request...
Once again thank you.

[2022-05-31 13:35] JJordanlso opened #39 "Changing Panasonic UE150 cameras output resolution"

[2022-06-01 09:17] thomasdragsnes opened #38 "Saving and recalling scene files"
Hi, we would love the functionality to save and recall scene files.

The use case for this is making color corrections to a specific lighting setup, but if an operator gets lost in the settings, i would like a quick way of recalling a safe standard preset that will be mostly right.

Is this possible to accomplish?

[2022-07-05 19:36] tsdtheatres opened #40 "AW-HE40 user authentication prevents module from working"
I have user authentication enabled on my 3 PTZ cameras.

Normally when sending IP commands you just add the username/password to the IP address. user:password@192.168.1.101 for example.

I can add the module and it connects "OK" with the companion app but the commands don't work.  If I disable user auth on the cameras, the module works as intended.  I'd like to leave authentication enabled on the

[2022-07-10 01:26] R3aL1Ty13 commented on #24
Hello, any news here ? :-)

[2022-07-19 17:11] Mortimer85 opened #41 "Panasonic PTZ AW HE-20"

[2022-08-03 15:51] Rik83 commented on #24
hey guys, your module is now working with panasonic CX350. zoom ok iris ok but some bugs for the other functionnaliky. Can you update ?

[2022-08-05 19:51] dieterjanssens commented on #24
It's working! on our cx350!
Iris up / down is working also zooming in / out ND filter and gain is also working!
Only auto iris button acts as manual iris
and
Manula iris button acts as auto iris
Pedestal is not working
Further investigation will get more details.
Would it be possible to display/read-out the iris settings / ND filter settings / Gain settings?

[2022-10-08 02:40] TBuTcher71 opened #42 "AW-HE40"
Tally used to just work... but after updates to Companion over the past year .. this easy feature has become unusable and not easy to get to work.
I can FORCE activate Tally on/off when pressing a button on the StreamDeck.
I can save/read the state of the tally..
However I can no longer simply have the tally light turn on the AW-HE40 Camera when the ATEM Mini Extreme: Tally: Program is activated.

[2022-10-19 21:18] cpuguru07 commented on #14
Also needing White Balance/color controls.

[2022-10-19 23:15] studiovideo54 commented on #14
Yes for my panasonic awhe130

Doriano Costantino

Studiovideo54

Cell. +39 338.8747472

***@***.***

From: cpuguru07 ***@***.***>
Reply to: bitfocus/companion-module-panasonic-ptz ***@***.***>
Date: Wednesday, 19 October 2022 at 23:18
To: bitfocus/companion-module-panasonic-ptz ***@***.***>
Cc: studiovideo54 ***@***.***>, Mention ***@***.***>
Subject: Re: [bitfocus/companion-module-panasonic-ptz]

[2022-10-27 14:44] cpuguru07 opened #43 "Variables stop updating"
I have 3x Panasonic PTZ cameras (2x AW-HN38 and 1x AW-HN40) using this module. I noticed all 3 of them reporting $(Panasonic-PTZ:power) = ON when they are actually OFF (in Standby mode).
I confirmed the p0/p1 was being set correctly by the cameras in camdata.html, so the module was just not updating its variables correctly.
As a test, I disabled and re-enabled one of the instances, and the variabl

[2022-10-27 15:07] cpuguru07 commented on #36
The current/last recalled preset appears to be available on line 19 of camdata.html and formatted "s#" (s0 = home; s1 = preset 1; s94 = preset 94).

[2022-11-20 19:18] #35 closed